@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,500&display=swap");

:root {
  --main-color: #f0ece5;
  --main-font-color: #6b6b6b;
  --header-font: "Roboto", sans-serif;
  --secondary-font: "Lora", serif;
  --links-color: #a73f25;
}

html,
body,
header {
  margin: 0;
  padding: 0;
  background-color: var(--main-color);
}

main {
  background-color: var(--main-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  height: fit-content;
  width: 100%;
}

.category_comment {
  width: max-content;
}

.main_content {
  width: 1100px;
  /* background-color: cadetblue; */
  padding: 30px;
}

.logo {
  display: flex;
  font-family: var(--header-font);
  font-size: 22px;
  font-weight: bold;
  align-items: center;
  text-transform: uppercase;
  background-color: black;
  letter-spacing: 0.1em;
  color: var(--main-color);
  padding: 10px 15px;
  width: max-content;
  margin: 0;
}

.logo_dots {
  font-size: 50px;
  margin: 0;
  padding: 0;
  line-height: 0;
}

.header_menu {
  display: flex;
  font-family: var(--secondary-font);
  font-size: 22px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.15em;
  color: var(--main-font-color);
}

.menu_options {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}

.menu_list_item {
  padding: 0px 0.8vw;
}

.link_styled {
  color: #a73f25;
  text-decoration: none;
}

.product_list_content {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(330px, 330px));
  justify-content: space-between;
  /* flex-wrap: wrap; */
  align-items: center;
}

.product_display {
  width: 300px;
  height: max-content;
  background-color: white;
  padding: 15px;
  margin-top: 50px;
  margin-bottom: 30px;
}

.product_display_img {
  width: 100%;
  aspect-ratio: 3/2;
  object-fit: cover;
}

.brand_name {
  font-family: var(--header-font);
  font-size: 15px;
  font-weight: bold;
  color: var(--main-font-color);
  text-transform: uppercase;
  margin: 5px 0px 5px 0px;
}

.product_title {
  font-family: var(--secondary-font);
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.15em;
  color: var(--main-font-color);
  margin: 0px;
  padding-bottom: 3px;
  border-bottom: 1.8px solid rgb(200, 200, 200);
}

.product_info {
  display: grid;
  height: 170px;
  font-family: var(--header-font);
  font-style: italic;
  color: var(--main-font-color);
  padding: 0px 15px;
  border: 1px solid #eeeeee;
  margin-top: 9px;
}

.button {
  font-family: var(--header-font);
  text-transform: uppercase;
  background-color: white;
  font-weight: bold;
  color: var(--links-color);
  font-size: 18px;
  border-radius: 0;
  border: solid var(--links-color) 2px;
  padding: 5px;
  font-style: normal;
  text-decoration: none;
  justify-self: center;
  height: min-content;
  margin-top: 12px;
  margin-bottom: 20px;
}

.product_info > *:not(:last-child) {
  margin-top: 18px;
  margin-bottom: 0;
  border-bottom: 1px solid #eeeeee;
}

.colours > * {
  padding: 0;
  margin: 0;
}

.product_info span {
  font-weight: 500;
  margin-left: 10px;
  color: black;
}

.product_color {
  width: 16px;
  height: 16px;
  margin: 0px 5px;
  background-color: lightcoral;
}

.colour_choices {
  display: flex;
  margin-left: 10px;
  color: black;
  font-weight: 500;
}

.colours {
  display: flex;
}

.not_aplicable {
  margin: 0;
}

@media only screen and (max-width: 1160px) {

  .main_content {
    width: auto;
    /* background-color: cadetblue; */
  }

  .product_list_content {
    justify-content: flex-start;
    grid-column-gap: 5vw;
    /* flex-wrap: wrap; */
  }
}

@media only screen and (max-width: 760px) {

  .logo {
    font-size: 20px;
  }

  .menu_options {
    font-size: 18px;
  }

  .product_list_content {
    grid-template-columns: repeat(auto-fit, minmax(430px, 430px));
    justify-content: center;
  }

  .product_display{
    width: 400px;
    margin: 5vw 0px 5vw 0px;
  }
}

@media only screen and (max-width: 500px) {

  .main_content {
    padding: 6vw;
  }

  
  .logo {
    font-size: 16px;
  }

  .product_title {
    font-size: 16px;
  }

  .menu_options {
    font-size: 16px;
  }

  .product_display{
    width: 100%;
  }

  .product_list_content {
    display: flex;
    flex-wrap: wrap;
  }

}
